.v48fv_survey_front label.concise_prompt,
.v48fv_survey_front label.expanded_prompt,
.survey_front label.question,
.v48fv_survey_front label.question
{
	display: block;
}
.v48fv_survey_front label.concise_prompt.inline,
.v48fv_survey_front label.expanded_prompt.inline,
.survey_front label.question.inline,
.v48fv_survey_front label.question.inline
{
	display: inline;
	padding-right: 1px;
}
.v48fv_survey_front label.option
{
	padding-left: 1px;
}
.v48fv_survey_front fieldset,
.v48fv_survey_front form
{
	padding:0;
	margin:0;
	border: none;
}
.v48fv_survey_front ul.options
{
	padding:0;
	margin:0;
	list-style-type:none;
}
.v48fv_survey_front input[type="text"].number
{
	width:3em;
}
.v48fv_survey_front label.concise_prompt,
.v48fv_survey_front label.cookie,
.survey_front label.question,
.v48fv_survey_front label.question
{
	font-weight: bold;
}
.v48fv_survey_front [mandatory="checked"] label.concise_prompt:after
{
	content:"*";
	color:#ff0000;
}

.v48fv_survey_front input[type="text"]
{
	width: 49%;
}

form.v48fv_survey_front
{
	width: 100%;
	border: none;
	margin: 0;
	padding: 1px;
}

.v48fv_survey_front fieldset
{
	border: none;
	margin: 0;
	padding: 3px;
	margin-bottom: 2px;
}

.v48fv_survey_front fieldset[error="1"] label.concise_prompt,
.v48fv_survey_front fieldset[error="1"] label.cookie
{
	color: #ff0000;
}
